{% block content %}
{% endblock %}
 
{% load static %}
 <!-- Footer -->
    <footer class="footer c1-bg text-center">
        <h3 style="color: white">Shablagoo - 2022</h3>
  
        <div class="title-border">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </footer>
      <!-- End Footer -->
  
      <!-- Back to Top Button -->
      <a href="#" class="back-to-top">
        <i class="fa fa-angle-up"></i>
      </a>
  
      <!-- ======= jQuery Library ======= -->
      <script src="{% static '/js/jquery.min.js' %}"></script>
  
      <!-- ======= Bootstrap Bundle JS ======= -->
      <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  
      <!-- =======  Mobile Menu JS ======= -->
      <script src="{% static '/js/menu.min.js' %}"></script>
  
      <!-- ======= Owl Carousel JS ======= -->
      <script src="{% static '/plugins/owlcarousel/owl.carousel.min.js' %}"></script>
  
      <!-- ======= Retina JS ======= -->
      <script src="{% static '/plugins/retinajs/retina.min.js' %}"></script>
  
      <!-- ======= Google API ======= -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>
  
      <!-- ======= Main JS ======= -->
      <script src="{% static '/js/main.js' %}"></script>
  
      <!-- ======= Custom JS ======= -->
      <script src="{% static '/js/custom.js' %}"></script>
    </body>
  </html>
  