{% include 'layouts/header.html' %}


{% block content %}

{% load static %}
    <!-- Page Title -->
    <section class="pt-140 pb-140">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="page-title">
                <h2>Contactanos</h2>
                <ul class="list-inline">
                  <li><a href="/">Home</a></li>
                  <li>Contactactanos</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Page Title -->
  
      <!-- Contact Form -->
      <section class="pb-140">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <!-- Contact Form Begin -->
              <div class="contact-form-wrapper">
                <h2>Contactanos si necesitas ayuda</h2>
                <p>
                  ShablaGoo es un sistema de ventas para las empresas en el sector
                  artístico post pandemia que permita optimizar y agilizar los
                  procesos que actualmente se llevan a cabo.
                </p>
  
                <form method="POST" action="sendmail.php" class="contact-form">
                  <input
                    type="text"
                    name="name"
                    class="theme-input-style"
                    placeholder="Your Name"
                    required
                  />
  
                  <input
                    type="email"
                    name="email"
                    class="theme-input-style"
                    placeholder="Your Email"
                    required
                  />
  
                  <textarea
                    name="message"
                    class="theme-input-style"
                    placeholder="comment"
                    required
                  ></textarea>
  
                  <button type="submit" class="btn"><span>Enviar</span></button>
                </form>
                <div class="form-response"></div>
              </div>
              <!-- Contact Form End -->
            </div>
  
            <div class="col-lg-6">
              <!-- Contact Image -->
              <div class="mt-50 mt-lg-0">
                <img src="{% static '/img/feature/Logo.jpeg' %}" data-rjs="2" alt="" />
              </div>
              <!-- End Contact Image -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Form -->
  
      <!-- Contact Info -->
      <section class="pb-110">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Section Title -->
              <div class="section-title text-center">
                <h2>Ven y visita nuestras oficinas</h2>
              </div>
              <!-- End Section Title -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <!-- Single Contact Info -->
              <div class="single-contact-info">
                <h3>Office Location</h3>
                <p>Independcia Jiron Junin Q-10 - Cusco</p>
              </div>
              <!-- End Single Contact Info -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- Single Contact Info -->
              <div class="single-contact-info">
                <h3>telefonos</h3>
                <p>
                  <a href="#">+51-959-307-583</a>
                  <a href="#">+51-914-941-198</a>
                </p>
              </div>
              <!-- End Single Contact Info -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- Single Contact Info -->
              <div class="single-contact-info">
                <h3>E-mail</h3>
                <p>
                  <a href="#">018201538j@uandina.edu.pe</a>
                  <a href="#">018200693a@uandina.edu.pe</a>
                </p>
              </div>
              <!-- End Single Contact Info -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- Single Contact Info -->
              <div class="single-contact-info">
                <h3>Horas de oficinas</h3>
                <p>8 AM - 5 PM (Lun - Sab) Domingos <span>Cerrado</span></p>
              </div>
              <!-- End Single Contact Info -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Info -->
  
      <!-- Start Map -->
      <div
        class="map"
        data-trigger="map"
        data-map-options='{"latitude": "-13.522897", "longitude": "-71.989063", "zoom": "18"}'
      ></div>
      <!-- End Map -->
  

{% endblock %}

{% include 'layouts/footer.html' %}